body {
    background-image: linear-gradient( rgb(226, 226, 255), rgb(249, 137, 249));
}
section {
    display:flex;
    margin: 20px, 0, 20 ,0
}
a:link{
    text-decoration: none;
}

#mepicture{
    max-width: 20%;
    border:solid black 4px;
    margin-bottom: 30px;
}

#horiseon:hover{
    opacity: .7;
    transition: all .3s ease-in-out;
    
}

#work:hover{
    opacity: .7;
    transition: all .3s ease-in-out;
    
}


#effect {
    text-decoration: none;
    position: relative;
}

#effect::before{
    content:'';
    background-color: black;
    position: absolute;
    left:0;
    bottom:-3px;
    width:100%;
    height:5px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

#effect:hover::before{
    bottom:0;
    height:100%

}

section header {
    flex-basis:25%;
    border-right: black solid;
    margin-right: 30px;
    text-align:right;
    padding:20px;
    text-decoration: double;
    color: darkcyan;
    font-size:x-large;
}

section nav {
    flex-basis:75%;
    color:darkcyan;
}

.top{
    overflow:hidden;
    position: relative;
}

.background{
    opacity: .2;
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height: auto;
}

.name{
   font-size: xx-large;
   background-color: rgb(255, 232, 232);
   text-align:center;
   text-indent:40%;
   margin: 30px 110px 30px -5px;
   position: relative;
   
}

#links{
    display: flex;
    padding:2%;
    margin-left: 30%;
}

#links a{
    flex-basis:auto;
    padding:0% 4% 4% 4% ;
    color: darkcyan;
    position: relative;
}


#my-work {
    display:flex;
    flex-wrap:wrap;
    padding: 0%;
}

#my-work a{
    height: 100px;
    padding: 50px 85px 30px 0px
}


#horiseon{
    height:400px;
    width:100%;
    margin-bottom:25px;
    background-image: url(./imgs/sunset-1373171__480.jpg);
    background-size:cover;
    background-position: center;
    overflow: hidden;
    border: solid black 4px;
}
#header{
    color: darkcyan;
    margin-top: 460px;
    margin-right: 669px;
    padding: 2px 20px .6px 10px;
    font-weight: bolder;
    font-size: xx-large;
    background-color: lightpink;
   
}


#my-work a:first-child{
    flex-basis:100%;
    height: 600px;
    
}

#work{
    border: solid black;
    margin:15px 15px 5px 0px;
    padding: 25px 0 20px 0 ;
    background-image:url(./imgs/hd-wallpaper-gc945d1388_1920.jpg);
    font-size: x-large;
    font-weight: bolder;
}

#project{
    background-color: lightpink;
    margin-top:37px;
    margin-right: 337px;
    text-align: right;
}

#project p {
    padding:20px 14px 10px 0px
}

#contact {
    display:flex;
}

#contact a{
    flex-basis: 20%;
    text-align:center;
    padding: 5% 0% 0% 0%;
    color: darkcyan;
    
}


@media screen and (min-width: 600px){
    main{
        display:block;
    }
    body>nav {
        display: inline;
        flex-direction: column;
    }   
        
}

@media screen and (max-width:700px) {
    main{
        display:block;
        flex-basis: 33%;
    }
    #links{
        display: block;
        flex-basis: 33%;
    }
}

@media screen and (max-width: 1024px) {
    main{
        display: block;
        flex-basis: 33%;
    }
    title{
        display: none;
    }
    
}
